{{!-- my-favorite menu --}}


<section class="relative tracking-wider"
    style="height: 1900px; background: url('/images/list.background.jpg') repeat; background-size: cover;">
    <div class="grid grid-cols-3 mx-20 ">
        {{#each favorites}}
        <div
            class="bg-black flex flex-col items-center z-10 rounded-3xl shadow-md lg:p-5 md:p-3 sm:p-0 max-w-xs mx-auto my-5 font gemunu tracking-wider">
            <h1 class="text-cocktail_chronicles-grey text-base font-bold mb-4">{{name}}</h1>
            <img src="{{image}}" alt="{{name}}" class="w-2/3 mb-4 rounded-lg">
            <form method="GET" action="/cocktail/{{id}}" class="mt-auto">
                <input type="hidden" name="cocktailId" value="{{id}}">
                <button type="submit"
                    class="bg-black text-cocktail_chronicles-grey border border-dotted py-2 px-3 rounded-md hover:bg-cocktail_chronicles-sgreen text-sm font-gemunu tracking-wider">
                    Click For Whole Recipe
                </button>
            </form>
            <form method="POST" action="/favorite/removefavoritebyid" class="mt-auto">
                <input type="hidden" name="cocktailId" value="{{id}}">
                <button type="submit"
                    class="bg-black text-cocktail_chronicles-grey border dotted py-2 px-3 rounded-md hover:bg-cocktail_chronicles-green text-sm tracking-wider">
                    Remove From My Favorite List
                </button>
            </form>
        </div>
        {{/each}}

    </div>

</section>