{{!-- navigation menu test --}}
<section class="relative">
    <div class="flex items-center lg:text-lg space-x-4 lg:space-x-8">
        <nav>
            <ul>
                <li><a href="/favorite/myfavorites"
                        class="hover:bg-cocktail_chronicles-purple melon transition duration-500">My Favorites</a></li>
                <li><a href="/cocktail/list"
                        class="hover:bg-cocktail_chronicles-purple melon transition duration-500">Cocktail List</a></li>
                <li><a href="/cocktail/random "
                        class="hover:bg-cocktail_chronicles-purple melon transition duration-500">Random Cocktail</a>
                </li>
            </ul>
        </nav>
        <div>
            <img src="/images/list.background.jpg" alt="Cocktail Background"
                class="absolute inset-0 w-full h-full object-cover z-0 opacity-90">
            <div class="container mx-auto p-10 relative z-10">
            </div>
            <div class="bg-black p-6 rounded-lg shadow text-cocktail_chronicles-grey">
                <h2 class="text-xl font-bold mb-2">
                    <h1>{{name}}</h1>
                    <p>{{recipe}}</p>
                    <img src="{{image}}" alt="{{name}}" class="w-19 h-19 rounded-full object-cover " />
                    <ul>
                        {{#each ingredients}}
                        <li>{{ingredient}} - {{measurement}}</li>


                        {{/each}}
                    </ul>
                    <form action="/favorite/addfavoritebyid" method="POST">
                        <input type="hidden" name="cocktailId" value="{{id}}">
                        <button type="submit"
                            class="bg-indigo-800  hover:bg-indiago-700  text-white font-bold py-2 px-4 rounded-full font-gemunu">Add
                            to My Favorite</button>
                    </form>
            </div>
</section>